*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
#logo{
    width: 400px;
    height: 72px;
    object-fit: contain;
}
.top-header{
    font-size: 12px;
    background: #000;
    color: #fff;
    width: 98%;
    margin: auto;
}
.menu{
    background: #fff;
    /* position: sticky;
    top: 20px; */
}
.navbar-nav{
    padding-right: 150px !important;
}
.navbar .nav-link{
    font-weight: bold;
    font-size: 17px;
    color: #000 !important;
}
.nav-link:hover{
    color: #003F94 !important;
}
#login{
    border: 1px solid #8B99b4;
    border-radius: 50px;
    margin-left:60px ;
    padding: 5px 15px 5px 15px;
    text-align: center;
    color: #003F94 !important;
    letter-spacing: 1px;
}
#login:hover{
    background: #003F94;
    color: #fff !important;
}
.hero-section{
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../img/homebg.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.hero-section h1{
    padding-top:200px;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.hero-section p{
    text-align: center;
    color: #fff;
}
.hero-section a{
    display: block;
    margin: 20px auto;
    background: #003F94;
    color: #fff;
    padding: 10px 15px ;
    border-radius: 50px;
    width: 200px;
}
.hero-section a:hover{
    background: #00409465;
    color: #fff;
    font-weight: bold;
}
.services{
    padding: 10px 0;
}
.services h2{
    padding: 20px 0;
    text-align: center;
    font-weight: bolder;
}
.services h3{
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 0;
}
.why-us{
    background: rgba(204, 204, 204, 0.192);
    padding: 15px 0;
    overflow: hidden;
}
.why-us h1{
    text-align: center;
    font-weight: bold;
    padding: 30px 0;
}
.why-us a{
    background: #003F94;
    color: #fff;
    font-weight: bold;
    /* display: block; */
    margin-top: 10px;
}
.why-us a:hover{
    background: #004094a9;
    color: #fff;
}
.price h1{
    text-align: center;
    padding: 30px 0;
}
.price .card-text{
    width: 200px;
    margin-left:50px;
}
.price-name{
    text-align: center;
    border: 1px solid #003F94;
    margin-bottom:10px;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bolder;
}
#popular{
    background: #003f94;
    color: #fff;
}
.price a{
    display: block;
    margin: 20px auto;
    padding: 10px;
    background: #003F94;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.price .check{
    color:green;
    padding-right: 2px;
}
.price .cross{
    color: rgb(182, 10, 10);
    padding-right: 5px;

}
.contact-us h2{
    padding: 20px 0;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.contact-us button{
    display: block;
    width: 150px;
    text-align: center;
    background: #003F94;
    padding: 8px;
    color: #fff;
    border: none;
    margin: 10px 0;
}
.container-flex{
    width: 60vw;
    margin: auto;
}
/* request section */
.request{
    width: 100%;
}
.request h1{
    text-align: center;
    padding: 10px 0;
    background: #003F94;
    color: #fff;
    font-weight: bolder;
}
.request h2{
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}
.request .flex-1{
    border: 1px solid #000;
    height: 100vh;
}
.request li{
    line-height: 3rem;
}
.flex-1 h3{
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 0;
}
.request label{
    font-size: 20px;
    margin-left: 5px;
}
.request .choice{
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}
.request form{
    width: 80%;
}
.request select{
    width: 100%;
    height: 40px;
}
.request button{
    display: block;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
    background: #003F94;
    color: #fff;
    border: none;
}
.footer{
    padding: 100px 0;
    background: #8B99b4;
    color: #fff;
    margin: auto;
   width: 98%;   
}
.footer .col-md-3{
    width: 300px !important;
}
.footer h5{
    padding: 10px 0;
    font-size: 16px;
    font-weight: bolder;
}
.footer a{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 3rem;
}
.copy-right{
    position: relative;
    background: rgb(82, 80, 80);
    color: #fff;
    padding: 5px 0;
    width: 98%;
    margin: auto;
}
.copy-right p{
    text-align: center;
    font-weight: 500;
}
.copy-right i{
    /* position: absolute;
    left: 200px; */
    font-size: 20px;
    text-decoration: none;
}
.reveal.active{
    opacity: 1;
}
.active.fade-bottom{
    animation: fade-bottom 1s ease-in;
}
@keyframes fade-bottom{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.active.fade-right{
    animation: fade-right 1s ease-in;
}
@keyframes fade-right{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.active.fade-left{
    animation: fade-left 1s ease-in;
}
@keyframes fade-left{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/* form styling */
.regform{
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    
}
.regform h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding: 10px 0;
}
.regform label{
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    padding: 5px 0;
}
.regform input{
    width: 100%;
    height: 40px;
    border: 1px solid #003f94;
}
.regform button{
    display: block;
    width: 50%;
    margin: 10px auto;
    background: #8B99b4;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
.regform button:hover{
    background: #0040947e;
}
.regform p,a{
    color: #000;
    
}
#ferror,#lerror,#merror,#perror,#cerror{
    display:none ;
    color: #000;
}